
div{
    height:500px;
    width:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1{
    text-align: center;

}
body{
    background-color:pink;
}
nav{
    background-color: white;
    text-align: center;

			}
nav ul li {
    display:inline-block;
    padding:10px;
			}
nav a {
    color: black;
    text-decoration: none;
			}
nav li:hover {
    background-color:pink; 
			}
nav li:hover a{
    color: black; 
			}
